# Java
target/
*.class
*.jar
*.war
*.ear
*.log

# Maven
target/
pom.xml.versionsBackup
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
bin/
